.banner{
    height: 80vh;
    background: linear-gradient(to bottom, rgba(236, 79, 10, 1), rgba(0, 0, 0, 0.6)),url('../image/pict5.png');
    background-size: cover;
    background-position: center;
}

.banner-content{
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.judul{
    text-indent: 45px;
}